<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">ImageStore</a>
      </div>
      <%= render_navigation(:context => :main, :expand_all => true, :renderer => :bootstrap) %>
      <%= render_navigation(:context => :login, :expand_all => true, :renderer => :bootstrap) %>
    </div>
  </nav>
  <div class="container">
    <%= render 'shared/alerts' %>
    <%= yield %>
  </div>

</body>
</html>
